@import '../vars.scss';

.button{
	&--theme--flat{
		cursor: pointer;
		font-size: 16px;
		line-height: 18px;
		height: 18px;
		border: 0;
    color: $smoke-gray;
		background-color: white;
	}
  &--theme--color{
    background-color: $purple;
    border: 0;
    border-radius: 30px;
    height: 50px;
    line-height: 50px;
    color: white;
  }
}