.form{
  &__field{
    text-align: center;
  }
  &__label{
    font-size: 14px;
    display: inline-block;
    margin-bottom: 12px;
  }
  &__input{
    width: 100%
  }
  &__button{
    width: 100%;
    margin-top: 25px;
  }
}