.modal{
    &__mask{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: rgba(0,0,0,.6); 
        // transition: opacity .4s;
        // opacity: 1;
    }
    &__container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 200px;
        padding: 14px;
        background-color: white;
        box-shadow: 0 0 20px 10px rgba(0,0,0,.2);
        transition: transform .4s;    
    }
}