@import '../vars.scss';

.select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  display: block;
  color: $smoke-gray;
  &--theme--flat{
    border: 0;
    background: transparent;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    outline: 0;
    background-image: url('/assets/Arrow.svg');
    background-repeat: no-repeat;
    background-position: right 13px center;
  }
}