@import '../vars.scss';

.sidebar{
    width: 255px;
    background: white;
    &__header{
        position: relative;
        padding: 14px 25px;
        border-bottom: 2px solid $smoke-gray;
    }
    &__header &__arrow{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        padding: 0;
        background-image: url('/assets/Arrow.svg');
        background-repeat: no-repeat;
        background-position: center; 
    }
    &__body{
        padding: 20px 25px;
    }
}

.sidebar + .sidebar{
    margin-top: 20px
}

