<template>
  <div class="header">
    <!-- <Select /> -->
    <Logo />
    <button
      class="button button--theme--flat"
      type="button"
      @click="showModal"
    >
      About
    </button>
  </div>
</template>

<script>
import Logo from './Logo'
// import Select from './Select'
export default {
  name: 'Header',
  components: {
    Logo
    // Select
  },
  methods: {
    showModal () {
      this.$store.commit('showModal')
    }
  }
}
</script>

<style lang="scss">
@import '../styles/components/header';
@import '../styles/components/button';
</style>
