<template>
   <yandex-map
    style="position: absolute;width: 100%; height: calc(100% - 90px);"
    :zoom="zoom"
    :coords="coords"
    :controls="controls"
    @map-was-initialized="initHandler"
  >
    <ymap-marker
      :coords="coords"
      marker-id="123"
      hint-content="some hint"
    />
  </yandex-map>
</template>
<script>
export default {
  name: 'Map',
  data: () => ({
    coords: [54, 39],
    zoom: 5,
    controls: [],
    items: [
      {
        coords: [56.851429, 35.848896]
      }
    ]
  }),
  methods: {
    initHandler (map) {
      // map.controls.add('zoomControl', )
      // map.controls.remove('trafficControl')
      // map.controls.remove('fullscreenControl')
      // map.controls.remove('typeSelector')
      // map.controls.remove('searchControl')
      // map.controls.remove('geolocationControl')
    }
  }
}
</script>
