<template>
  <transition name="slide-fade">
    <div class="modal" v-show="isShown">
      <div class="modal__mask" @click="closeModal">
        <div class="modal__container">
          <p>Author: Shagaev Damir</p>
          <p>Used tech:</p>
          <ul>
            <li>Vue</li>
            <li>Vuex</li>
            <li>vue-yandex-maps</li>
          </ul>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  props: {
    isShown: Boolean
  },
  name: 'Modal',
  methods: {
    closeModal () {
      this.$store.commit('closeModal')
    }
  }
}
</script>
<style lang="scss">
@import '../styles/components/modal';
.slide-fade-enter-active, .slide-fade-leave-active{
  transition: opacity .4s;
}
// .slide-fade-enter-active .modal__container, .slide-fade-leave-active .modal__container{
//   transition: all .4s;
// }
.slide-fade-enter, .slide-fade-leave-to{
  opacity: 0;
}
// .slide-fade-enter .modal__container, .slide-fade-leave-to .modal__container{
//   transform: translateY(-50px);
// }
</style>
