<template>
  <select class="select select--theme--flat header__select">
    <option selected>English</option>
    <option>Russian</option>
  </select>
</template>
<script>
export default {
  name: 'Select'
}
</script>
<style lang="scss">
@import '../styles/components/select';
.header__select{
  width: 84px;
}
</style>
