<template>
  <form class="sidebar__form form">
    <div class="form__field">
      <label for="city" class="form__label">City</label>
      <input
        type="text"
        id="city"
        v-model="city"
        class="input input--theme--round form__input"
        placeholder="Moscow"
        value="Москва"
      >
      <button
        type="button"
        class="button button--theme--color form__button"
        @click="searchHotels"
      >
        Search
      </button>
    </div>
  </form>
</template>
<script>
export default {
  name: 'SidebarForm',
  data: () => ({
    city: ''
  }),
  methods: {
    searchHotels () {
      const apiKey = '49bf513b-d945-4bfa-a418-476ec971f5fb'
      let url = `https://search-maps.yandex.ru/v1/?apikey=${apiKey}&text=Отели ${this.city}&lang=ru_RU`
      try {
        this.$store.dispatch('callApi', url)
      } catch (e) {
        // statements
        console.log(e)
      }
    }
  }
}
</script>
<style lang="scss">
@import '../styles/components/form';
@import '../styles/components/input';
@import '../styles/components/button';
</style>
