<template>
    <div class="sidebar">
      <div class="sidebar__header">
        <span class="sidebar__title">{{sidebarHeaderTitle}}</span>
        <button type="button" class="button button--theme--flat sidebar__arrow"></button>
      </div>
      <div class="sidebar__body">
        <slot></slot>
      </div>
    </div>
</template>
<script>
export default {
  props: {
    sidebarHeaderTitle: String
  },
  name: 'Sidebar'
}
</script>
<style lang="scss">
@import '../styles/components/sidebar';
@import '../styles/components/button';
</style>
