<template>
  <div id="app" class="app">
    <Header />
    <Map />
    <aside class="app__sidebar">
      <Sidebar sidebarHeaderTitle="Search Hotel">
       <SidebarForm/>
      </Sidebar>
      <!-- <Sidebar sidebarHeaderTitle="Filter">
        <SidebarFilter/>
      </Sidebar> -->
    </aside>
    <Modal :isShown="this.$store.state.modal.isOpenModal"/>
  </div>
</template>

<script>
import Header from './components/Header'
import Sidebar from './components/Sidebar'
import SidebarForm from './components/SidebarForm'
// import SidebarFilter from './components/SidebarFilter'
import Map from './components/Map'
import Modal from './components/Modal'
export default {
  name: 'app',
  components: {
    Header,
    Map,
    Modal,
    Sidebar,
    SidebarForm
    // SidebarFilter
  }
}
</script>

<style lang="scss">
* {
    box-sizing: border-box;
}
*:after,
*:before{
    box-sizing: border-box;
}
html, body{
  color: #808080;
}
.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app__sidebar{
  position: absolute;
  top: 120px;
  left: 30px;
}
</style>
